.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    z-index: 1000;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: black;
}