.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    z-index: 1000;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
